body {
  background-color: white;
  font-family: 'Helvetica Neue';
  text-align: center;
}

#twit-img1, #twit-img2, #player1, #player2 {
  width: 200px;
  height: 200px;
  padding: 20px;
};

input, #vs {
  display: inline;
}

#player_1 {
  margin-left: 50px;
  /*padding: 50px*/
}
#player_2 {
  margin: 0;
  /*padding: 50px*/
}
#vs {
  margin-left: 75px;
  margin-right: 50px;
}
#button {
  display: block;
  margin: 75px auto;
}
#name1, #name2 {
  display: block;
}
#div1, #div2 {
  display: inline-block;
}
table {
  text-align: center;
  margin: 0 auto;
}
#followersheader, #tweetsheader, #favouritesheader {
  font-weight: bold;
}
#fight {
  display: block;
  text-align: center;
  margin: 0 auto;
}